
  <h1>Frequently Asked Questions</h1>
   <article class="markdown-body entry-content" itemprop="text"><p><a href="https://mp.weixin.qq.com/s/1E1EJWml6AIwpk0vqotK7A" rel="nofollow">https://mp.weixin.qq.com/s/1E1EJWml6AIwpk0vqotK7A</a>  (translated)</p>
  <blockquote>
  <p>The super representative is the core manager of the TRON community in the pool field. They will perform basic duties such as block production and paying the expenses of the TRON network. They obtain corresponding revenue.</p>
  </blockquote>
  <blockquote>
  <p>Every 24 hours, the super delegates and super representative candidates will accept the supervision and choice of the voters.</p>
  </blockquote>
  <blockquote>
  <p>Every coin holder has the opportunity to become a super representative of the TRON community in the pool field, but in order to make the pool field, TRON network, and community run smoothly, efficiently and well, we will formulate a series of standards, and rules for meeting these standards.</p>
  </blockquote>
  <blockquote>
  <p>We will give certain publicity recommendations to increase our recommended super representatives' chances of being elected super delegates.</p>
  </blockquote>
  <h1><a id="user-content-faq" class="anchor" aria-hidden="true" href="#faq"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>FAQ</h1>
  <p><em><strong>What is the Tron Main Net?</strong></em></p>
  <p>The Tron main net, which launches on June 26, 2018, is a peer-to-peer (p2p) network that hosts the Tron blockchain.</p>
  <p><em><strong>What is the Tron blockchain?</strong></em></p>
  <p>The Tron blockchain will be a network for transferring the Tron cryptocurrency, known as TRX. It will also allow contract creation, and application deployment.</p>
  <p><em><strong>How will the blockchain work?</strong></em></p>
  <p>The blockchain will consist of 27 privately run computer nodes. They will create and verify the new blocks that are added to the chain. TRX wallets will connect to the blockchain to retrieve balance information and allow the transfer of TRX between addresses. There will be a contract creation feature similar to Ethereum. It will also host distributed applications, or <em>dapps</em>.</p>
  <p><em><strong>What is the Community Node project?</strong></em></p>
  <p>The Community Node project is a proposal to manage and operate a node on the Tron main net. It is an Open Source proposal, which means we are committed to leaving something behind when we're gone. Our Mission is to become an intellectual asset for the community. These are still the early days of crypto. Other cryptocurrencies to come along will surely use Tron's open source application as a starting point for their blockchain networks, as well as Tron's Super Representative structure. Those Super Representatives will be creating organizations very similar to ours. We chose to make our project Open Source in order to provide a resource for those who come after us.</p>
  <p><em><strong>Someone said something about earning TRX. How does that work?</strong></em></p>
  <p>Community Node will reward the voters who elect it to Super Representative.</p>
  <p><em><strong>Which wallet do we use?</strong></em></p>
  <p>Every wallet should, or at least could, allow the user to vote. We are hoping Tron will review the newly developed wallets to check the functionality of each. For now you can be sure the wallet at tronscan.org will work.</p>
  <p><em><strong>Can we vote from the wallet?</strong></em></p>
  <p>Yes, the wallet is the way that you vote.</p>
  <p><em><strong>How will I be paid my reward?</strong></em></p>
  <p>When you vote, that comes from your wallet and that wallet's address. Every day, we can see which address voted for us and how many votes they cast. Then we use your address to send the reward back to you.</p>
  <p><em><strong>How often will my reward be deposited?</strong></em></p>
  <p>Every 24 hours. In the beginning there will be a 3 day delay to make sure we're doing it right. Later we will automate it and have the reward out in just a few minutes after the election ends.</p>
  <p><em><strong>How often do I need to vote?</strong></em></p>
  <p>Once you freeze your TRX and vote, that vote will be repeated every day until you change it.</p>
  <p><em><strong>Is there a support email for this SR?</strong></em></p>
  <p><a href="mailto:communitynode@gmail.com">communitynode@gmail.com</a></p>
  <p><em><strong>What do you like about Tron?</strong></em></p>
  <p>The notion of a network of dapps running on homemade tokens is fascinating and the possibilities are endless.</p>
  <p><em><strong>Why is the Super Representative important?</strong></em></p>
  <p>I believe Justin has researched the subject thoroughly and come up with DPoS as the best hybrid solution to a trusted p2p network. He had to find a good balance between security and control. Ripple has a similar blockchain but they manage all the nodes. That's not much fun for the rest of us.</p>
  <p>When Tron chose to outsource the running of their blockchain in a distributed network, I thought it could be a mammoth opportunity to decentralize power.</p>
  <p>Justin's requirements for Super Representative candidates demand a community outreach program that develops a merit based hierarchy. In other words, it gives the cream a chance to rise to the top.</p>
  <p><em><strong>Whats in it for me?</strong></em></p>
  <p>The Tron Super Representative election system could offer a stable if not significant dividend to community members who participate in developing the trust and merit rankings that drive the system.</p>
  <p><em><strong>How do I participate?</strong></em></p>
  <p>All you have to do is move your coins into a TRX wallet for which you own the private key, freeze your TRX coins, and vote for Community node.</p>
  <p><em><strong>How much does the Super Representative earn?</strong></em></p>
  <p>Tron labs will pay each Super Representative 32 TRX per block. Only the 27 super representative nodes get to produce blocks. They take turns making one block every 3 seconds, so about 0.75 blocks a minute for each of the Super Representatives. The winners hold their positions for 24 hours, and every day there is another election. Some SR's will win the election 365 days a year. Others may end up winning a fraction of the time, if at all. Even if the candidate node loses the SR election, they must maintain a presence and the associated expenses. The most a SR can earn during the year is about 34 Million TRX. Our node keeps 80% of revenue for expenses. As the value of TRX increases, we can apply our 20% in a wider range of activities.</p>
  <p><em><strong>How much does it cost to be a Super Representative?</strong></em></p>
  <p>There's a lot of expense. Tron recommends a technical budget of about $40,000 <em>a month</em>. OCN is currently building a cluster of 150 AMD EPYC 24 core CPUs. The application fee for Super Representative is 9,999 TRX.</p>
  <p><em><strong>Can anyone run a node?</strong></em></p>
  <p>Yes and no. Everyone is welcome to run and try to become a "Super Representative" node. In order to become a Super Representative you must win a daily election. There are other nodes, called Full Nodes, which do not earn anything. It's expected that Super Representatives also run Full Nodes to make data more available. You do not need to run a Full Node. In fact, without a witness node listing the IP of your node it really won't be doing much good.</p>
  <p><em><strong>What's a dapp?</strong></em></p>
  <p>A dapp is like the apps on your phone. In the beginning of the internet, web pages didn't change. Nowadays most web pages load <em>dynamic</em> content that they pull from a database. They have account logins, let you post articles and comments, etc.  Even though my weather app can show me updated and detailed information for every place around the globe, the app is pretty small.</p>
  <p>Developers who have written dapps for the Tron network can upload them when they're ready for a fee of 1024 TRX. This "burns" the coins and removes them from circulation. This is the only "coin burn" there is planned for the Tron main net.</p>
  <p><em><strong>What's a "staging network"?</strong></em></p>
  <p>The Community Node staging network is a carbon copy of the real Tron network. It runs on our private servers and we provide it to the community as a free service. With it you can practice using a wallet. You can click a button and we'll put 1,000,000 free xTRX tokens in your account, and you can practice sending and receiving with them, as well as practice creating cold wallets and other security measures.</p>
  <p>When your dapp is ready, you can spend 1024 of your free xTRX tokens and upload your dapp to the staging network just as you would with the real Tron main net. Uploading a Tron dapp to the real Tron main net will cost 1024 TRX so it's not something you want to mess up.</p>
  <p><em><strong>Do I have to have a dapp thingy?</strong></em></p>
  <p>Building dapps is not a requirement of Community Node members, though we would love to help you write your first dapp. We are doing everything we can to support the dapp development community. Dapp developers don't have to be core members of the team.</p>
  <p><em><strong>How do dapps work?</strong></em></p>
  <p>A dapp is like a bridge. On one side is what you see on your phone. On the other side is an API, or <em>application procedure interface</em>. That means if you tell it one thing, it will respond with a particular behavior. The commands that the dapp sends to the API are called RPC, <em>remote procedure calls.</em>  To view this webpage, your web browser issued a "GET" RPC to the webserver's API.</p>
  <p><em><strong>Why do dapps need a blockchain?</strong></em></p>
  <p>They don't need a blockchain, but it gives the developer a decentralized way of running the dapp. Instead of relying on a single server, the dapp is hosted by hundreds of nodes on the blockchain. It removes all server management and you get a 'set it and forget it' convenience.</p>
  <p><em><strong>What's another advantage?</strong></em></p>
  <p>Dapps uploaded to the blockchain are permanent and incorruptible. They can not be censored.</p>
  <p><em><strong>Walk us through the dapp process.</strong></em></p>
  <p>We are sure the Tron network will support Java applications. I would also expect to see Python included, as well as Ruby and other high level languages. A developer will write their program in the language of their choice, and then use the Tron Virtual Machine, or TVM, to convert the dapp into bytecode which is like a computer's native tongue. Then it gets uploaded to the blockchain where it will live forever.</p>
  <p><em><strong>What's the difference between a node and a witness node and a Super Representative node?</strong></em></p>
  <p>Definitions:<br>
  • A <em>node</em> is a server that shares information on the p2p blockchain<br>
  • A <em>witness node</em> is a node that is configured with a private key and is available to produce blocks.<br>
  • A <em>super representative</em>  (aka Super Delegate) is a witness node that has been elected to produce blocks<br>
  • Full Node runs without a private key<br>
  • Solidity node is a wallet server</p>
  <ul>
  <li>Super Representative produces blocks</li>
  <li>Other SRs validate the block</li>
  <li>Full nodes are specified in the witness node's config file so only trusted nodes are used.</li>
  <li>Full nodes keep a copy of the blockchain and also pass new transactions to the witness producing the block.</li>
  <li>Solidity nodes only keep a copy of the blockchain, and not the pending transactions. All info available to the wallet is validated.</li>
  </ul>
  </article>
  </div><!-- #end div #main .wrapper -->
