<h1>Questions#points</h1>
<p>
Who are Community Node?
</p>
<p>

An experienced team
</p>
<p>

We have an impressive yet nimble team that excels in tech expertise and real life application experience. From experts in java, servers, networks and communication, mobile and web - between us we have: led grassroots movements, been Cisco certified, had our work featured by Apple and run applications for more than 100k users.
</p>
<p>

We're focused on the product
</p>
<p>

We focus on our main product, the node. We invest in our technology and community, rather than marketing. This is why we publish on github, contribute to other projects and are genuinely looking at the best practices and even sharing that with others.
</p>
<p>

We have one of the most comprehensive reward plans
</p>
<p>

We have a smart rewards system which is openly published. It guarantees stability and rewards voters over the long term.
</p>
<p>

You are rewarded, even if we don’t win the vote every day
</p>
<p>

We give voter rewards, even if we don't win as Sr on that day. 
</p>
<p>

We are community first
</p>
<p>

Community dependent, community protector. community support initiatives. Help people build. Offer tutorials and videos. we want to mentor them if they want to become an sr
</p>
<p>

We want people to build on Tron
</p>
<p>

We want to help people build dapps, we want to help them practice deploying them, we want to offer them a turnkey e-commerce solution, we want to mentor them if they want to become an sr
</p>
<p>

We were first to give rewards
</p>
<p>

We were the first SR candidate to have a working rewards system on the mainnet.
</p>
<p>

We were first to contribute to Tron
</p>
<p>

We were the first SR candidate to contribute to tron and awarded a bug bounty by the tron foundation. 
</p>
<p>

We are the only Tron SR that has a program to help new entrants
</p>
<p>

We are the only SR that has a program to actively help new entrants set up and run SRs.
</p>
<p>

We’re In it for the long term
</p>
<p>
We’re almost the opposite of some SRs, we've planned for the future; Tech expansion? Security? Help group. Support projects. That's why we help newcomers. Our rewards plan also rewards long term voters. We want people to keep invested in Tron’s future.
</p>





