<h1>Dapp Contest!</h1>
<p>We're looking for the best e-commerce solution for Tron merchants!</p>
<p>Between now and October 1, create a dapp that sells stuff for TRX, and we'll give 10,240 TRX to the best one.</p>
<p>The only rule is that you make your repository public.</p>
<p>Good Luck!</p>