<h1>dapp Support</h1>


<p>We will create a How To demonstration for a simple dapp game that flips a coin and pays tokens when guessed correctly. Users can use this as a template to create their first dapp.</p>

<p>We are operating a <a href="https://t.me/TronHelp" rel="nofollow">TRON Help Group</a> at Telegram to answer questions you may have when building your dapp. Or for any other questions you have about the Tron main net.</p>
