<h1>Fledglings</h1>
<p>We've started a "fledgling program" to foster the development of future Super Representatives.</p>
<p>In addition to mentoring people who want to take up this role, we will select a few candidates for a more personal involvement. We will go over your tech setup with a fine toothed comb, and make sure you've got a solid plan to support the community. If you prove that you'll make us proud, we'll help you get elected once, and after that you'll be on your own!</p>