<h1>Github</h1>
<p>From day one, all of our documents, including the code for this website, have been made publicly available at <a href="https://github.com/bondibox/community-node">our github repository</a>.</p>
<p>In fact, a handful of people have used it as a starting point for creating their own project!</p>