<h1>Welcome to Community Node</h1>

<p>We are a collection of professionals who were drawn to the idea of operating a witness node on the Tron blockchain. We come from the Tronics community, from various walks of life and from all around the globe. To us, Tronix is more than just a cryptocurrency, it is a chance to take part in the decentralization of wealth and power. Our desire is to help the public use the TRX coin and the Tron blockchain to run distributed applications with their own custom tokens.</p>

<p>In return, we hope the Tronics community will recognize our value to the TRX ecosystem and vote for our organization to run one of the Super Representative witness nodes, who will get paid for their participation. Your vote costs you nothing, but it means everything to us. So much, that we want to show our appreciation via a voter reward, paid daily.</p>

<p>With the results of every daily election, we get a report showing how many votes came from which wallet addresses. It's a simple matter for us to "airdrop," or send back a small reward for each of those votes.</p>