

<div class="row">
  <div class="grid_4">
    <h2 class="first-header">Your Node</h2>
      <p>Community Node Organization isn't just a team of people running a Super Representative node. We are a team of people dedicated to helping you make the most out of the Tron mainnet, whether that means showing you how to set up a wallet and vote, build and deploy a dapp, or run your own SR node. We're here for you.
</p>
  </div>

  <div class="grid_4">
    <h2 class="first-header">Sunday Night!</h2>
      <p>Join us and the rest of the world on Sunday night when the new Tron mainnet goes live with the Genesis phase. 27 Anonymous nodes will run the network until the first 27 Super Representatives have been elected. During this time the Ethereum based Tronix tokens will be converted to coins on the new blockchain.</p>
  </div>

  <div class="grid_4">
    <h2 class="first-header">Predictable Rewards Payout</h2>
      <p>We want to create a stable, predictable voter payout, by putting 80% of everything we earn into the "piggy bank."  And every day we will pay our voters half of what went into the piggy bank, or 2% of what's in it, whichever is greater. When the piggy bank is half full the daily payout will be the same whether we win or lose!
</p>
  </div>
</div><!-- end row -->


<h2>Welcome to Community Node</h2>

<p>We are a collection of professionals who were drawn to the idea of operating a witness node on the Tron blockchain. We come from the Tronics community, from various walks of life and from all around the globe. To us, Tronix is more than just a cryptocurrency, it is a chance to take part in the decentralization of wealth and power. Our desire is to help the public use the TRX coin and the Tron blockchain to run distributed applications with their own custom tokens.</p>

<p>In return, we hope the Tronics community will recognize our value to the TRX ecosystem and vote for our organization to run one of the Super Representative witness nodes, who will get paid for their participation. Your vote costs you nothing, but it means everything to us. So much, that we want to show our appreciation via a voter reward, paid daily.</p>

<p>With the results of every daily election, we get a report showing how many votes came from which wallet addresses. It's a simple matter for us to "airdrop," or send back a small reward for each of those votes.</p>
