<h1>Staging Network</h1>
<p>We have created a staging network which is a replica of the Tron network and which will allow the community to practice with wallets and to beta test the behavior of newly created dapps. <a href="https://twitter.com/bondibox/status/991872321559261184" rel="nofollow">We got it working while ago</a> with 2 witnesses and 2 seed nodes.  We will continue the expansion of our test net to include solidity nodes and web wallets.</p>
<p>While a dapp is in development, you can upload it to the staging network to see how it runs. You don't want to find a bug after you've paid 1,024 TRX to upload it to the main net!</p>

